@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');

// FONT SIZE
$fs-xlarge: 48px;
$fs-large: 36px;
$fs-normal: 24px;
$fs-menu: 18px;
$fs-btn: 16px;
$fs-base: 14px;
$fs-xsmall: 13px;

// FONT LEADING
$fl-xlarge: 28px;
$fl-large: 24px;
$fl-default: 24px;
$fl-small: 18px;

// FONT WEIGHT
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// LINE HEIGHT
$lh-h4: 34px;
$lh-base: 1.42857143;
$lh-paragraph: 24px;

// LETTER SPACING
$ls-title: 4px;
$ls-subtitle: 1px;
$ls-paragraph: 1px;
$ls-menu: 1px;
$ls-button: 1px;
