@import '../../style/global.scss';

$cl: 'topbar';

.#{$cl} {
    &__container {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: $grey-light;
        box-shadow: $shadow-light;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;

        @media (min-width: $bp-tablet) {
            flex-flow: row wrap;
            justify-content: space-around;
        }

        @media (min-width: $bp-large) {
            display: none;
        }
    }

    &__header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: center;
        margin-bottom: $vertical-spacing;

        @media (min-width: $bp-tablet) {
            justify-content: space-between;
            margin-bottom: 0;
            .sitenav__nav {
                margin-right: $side-spacing;
            }
        }
    }

    &__title {
        width: 100%;
        margin: 0;
        font-size: $fs-xlarge;
    }

    &__description {
        @media (min-width: $bp-tablet) {
            margin: 0;
            padding-bottom: $vertical-spacing/2;
        }
    }

    &__footer {
        margin-top: $vertical-spacing;

        .copyright {
            text-align: center;
        }
    }
}
